name: CI
on:
  pull_request:
    branches:
      - main

jobs:
  lumi_core_api:
    runs-on: ubuntu-latest
    name: Build and validate lumi-core-api
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        working-directory: lumi-core-api
        run: npm install

      - name: Validate build
        working-directory: lumi-core-api
        run: npx wrangler deploy --dry-run
